vapi-workflow-simplified.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5789b367-7540-42d8-b601-29a685349d17",
      "name": "VAPI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-272, 448],
      "webhookId": "vapi-inbound"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "390863ad-fb2b-47eb-a493-e68ff24b04ef",
      "name": "Respond to VAPI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-48, 256]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "end-of-call-report",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "end_of_call"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "function-call",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "leftValue": "={{ $json.message.functionCall?.name }}",
                    "rightValue": "book_appointment",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "book_appointment"
            }
          ]
        },
        "options": { "fallbackOutput": "none" }
      },
      "id": "switch-route-by-type",
      "name": "Route by message type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-48, 448]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst call = msg.call || {};\nconst transcript = msg.transcript || '';\nconst summary = msg.analysis?.summary || '';\nconst structuredData = msg.analysis?.structuredData || {};\n\nreturn [{\n  json: {\n    call_id: call.id || '',\n    call_type: call.metadata?.call_type || 'inbound',\n    caller_phone: call.customer?.number || '',\n    caller_name: structuredData.name || call.customer?.name || 'Unknown',\n    caller_email: structuredData.email || '',\n    caller_need: structuredData.need || '',\n    caller_timeline: structuredData.timeline || '',\n    summary: summary,\n    transcript: transcript,\n    duration_seconds: call.endedAt && call.startedAt\n      ? Math.round((new Date(call.endedAt) - new Date(call.startedAt)) / 1000)\n      : 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "1a8d638c-a1d0-4a78-97bb-b4e250c29794",
      "name": "Parse call data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [176, 320]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst transcript = item.transcript;\n\n// Default when transcript is too short to analyze\nif (!transcript || transcript.length < 50) {\n  return [{ json: { ...item, name: '', email: '', need: '', timeline: '',\n    interest_level: 'unknown', call_outcome: 'unknown',\n    overall_score: 5, hook_score: 5, naturalness_score: 5, objection_score: 5, close_score: 5,\n    worst_moment: 'call too short to evaluate', fix_suggestion: '' } }];\n}\n\n// Single Groq call does lead extraction AND call-quality grading at once.\nconst response = await fetch('https://api.groq.com/openai/v1/chat/completions', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${$env.GROQ_API_KEY}`\n  },\n  body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0.1,\n    max_tokens: 600,\n    messages: [{\n      role: 'user',\n      content: `You are analyzing a voice agent call transcript. Do two things at once: (1) extract lead info, (2) grade the agent's performance.\\n\\nCALL TYPE: ${item.call_type}\\nTRANSCRIPT:\\n${transcript}\\n\\nRespond ONLY in valid JSON, no markdown:\\n{\\n  \"name\": \"full name or empty string\",\\n  \"email\": \"email address or empty string\",\\n  \"need\": \"what they want in one sentence or empty string\",\\n  \"timeline\": \"when they need it or empty string\",\\n  \"interest_level\": \"hot|warm|cold\",\\n  \"call_outcome\": \"lead_captured|appointment_booked|not_interested|callback_requested|hung_up\",\\n  \"hook_score\": 0,\\n  \"naturalness_score\": 0,\\n  \"objection_score\": 0,\\n  \"close_score\": 0,\\n  \"overall_score\": 0,\\n  \"worst_moment\": \"exact quote of the weakest agent line\",\\n  \"fix_suggestion\": \"one specific rule to add to the system prompt to prevent this\"\\n}`\n    }]\n  })\n});\n\nconst data = await response.json();\nlet extracted = {};\ntry {\n  const raw = data.choices[0].message.content.trim();\n  extracted = JSON.parse(raw.replace(/```json|```/g, '').trim());\n} catch (e) {\n  extracted = { parse_error: true, overall_score: 5 };\n}\n\nreturn [{ json: { ...item, ...extracted } }];"
      },
      "id": "7570333d-7329-493b-8842-37c0b2cec777",
      "name": "Groq — extract & grade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 320]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.LEADS_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Leads" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Call ID": "={{ $json.call_id }}",
            "Call Type": "={{ $json.call_type }}",
            "Phone": "={{ $json.caller_phone }}",
            "Name": "={{ $json.name || $json.caller_name }}",
            "Email": "={{ $json.email || $json.caller_email }}",
            "Need": "={{ $json.need || $json.caller_need }}",
            "Timeline": "={{ $json.timeline || $json.caller_timeline }}",
            "Interest Level": "={{ $json.interest_level || 'unknown' }}",
            "Outcome": "={{ $json.call_outcome }}",
            "Duration (s)": "={{ $json.duration_seconds }}",
            "Summary": "={{ $json.summary }}",
            "Transcript": "={{ $json.transcript }}"
          }
        },
        "options": {}
      },
      "id": "abf3cc64-074f-4101-81e4-ad7ca1e5ff58",
      "name": "Save to Leads sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [624, 320]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.LEADS_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Learning Log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Call ID": "={{ $json.call_id }}",
            "Call Type": "={{ $json.call_type }}",
            "Overall Score": "={{ $json.overall_score }}",
            "Hook Score": "={{ $json.hook_score }}",
            "Naturalness Score": "={{ $json.naturalness_score }}",
            "Objection Score": "={{ $json.objection_score }}",
            "Close Score": "={{ $json.close_score }}",
            "Outcome": "={{ $json.call_outcome }}",
            "Worst Moment": "={{ $json.worst_moment }}",
            "Fix Suggestion": "={{ $json.fix_suggestion }}",
            "Duration (s)": "={{ $json.duration_seconds }}",
            "Summary": "={{ $json.summary }}"
          }
        },
        "options": {}
      },
      "id": "e64bdcb3-8d08-4a0b-bb82-16c42d19d06f",
      "name": "Append to Learning Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [848, 320]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📞 *New Call — {{ $json.call_type }}*\n\n👤 Name: {{ $json.name || $json.caller_name || 'Unknown' }}\n📱 Phone: {{ $json.caller_phone }}\n📧 Email: {{ $json.email || $json.caller_email || '—' }}\n🎯 Need: {{ $json.need || $json.caller_need || '—' }}\n⏱ Timeline: {{ $json.timeline || $json.caller_timeline || '—' }}\n🔥 Interest: {{ $json.interest_level || 'unknown' }}\n✅ Outcome: {{ $json.call_outcome }}\n📊 Quality score: {{ $json.overall_score }}/10\n⏳ Duration: {{ $json.duration_seconds }}s\n\n📝 Summary:\n{{ $json.summary }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "a1d9b30d-2722-461d-acd7-f87d6da66a6f",
      "name": "Telegram notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1072, 320],
      "webhookId": "b35a79a0-d481-485d-80bd-0b3e50b0ac86"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 6,
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }
        },
        "options": {}
      },
      "id": "50c62083-d127-43fa-8e29-a3bba47d2524",
      "name": "Score < 6?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1072, 480]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ *Low-quality call alert*\n\n🆔 Call: {{ $json.call_id }}\n🎯 Type: {{ $json.call_type }}\n📊 Score: {{ $json.overall_score }}/10\n\n💔 Worst moment:\n_{{ $json.worst_moment }}_\n\n🔧 Suggested fix:\n{{ $json.fix_suggestion }}\n\n✅ Review the Learning Log sheet to approve this fix.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "9a1cdeb1-dd33-4e42-966c-acc6e725712a",
      "name": "Alert — low score",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1296, 480],
      "webhookId": "a3588ba8-a07f-4567-949c-ba716980c84f"
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst params = msg.functionCall?.parameters || {};\nconst call = msg.call || {};\n\nreturn [{\n  json: {\n    appointment_id: `APT-${Date.now()}`,\n    call_id: call.id || '',\n    name: params.name || call.customer?.name || '',\n    phone: call.customer?.number || '',\n    email: params.email || '',\n    service: params.service || '',\n    requested_date: params.date || '',\n    requested_time: params.time || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "3200e81f-61d9-4f6d-b5e4-243506dc7a85",
      "name": "Parse booking params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [176, 640]
    },
    {
      "parameters": {
        "calendar": { "__rl": true, "mode": "list", "value": "" },
        "start": "={{ $json.requested_date }}T{{ $json.requested_time }}:00",
        "end": "={{ $json.requested_date }}T{{ (parseInt($json.requested_time.split(':')[0]) + 1).toString().padStart(2,'0') }}:{{ $json.requested_time.split(':')[1] }}:00",
        "additionalFields": {
          "description": "=Phone: {{ $json.phone }}\nEmail: {{ $json.email }}\nBooked via AI voice agent\nCall ID: {{ $json.call_id }}",
          "summary": "={{ $json.service }} — {{ $json.name }}"
        }
      },
      "id": "5f96d703-7d14-4671-ad3a-8ebc43db47c4",
      "name": "Create Google Calendar event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [400, 640]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.LEADS_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Appointments" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Appointment ID": "={{ $('Parse booking params').first().json.appointment_id }}",
            "Name": "={{ $('Parse booking params').first().json.name }}",
            "Phone": "={{ $('Parse booking params').first().json.phone }}",
            "Email": "={{ $('Parse booking params').first().json.email }}",
            "Service": "={{ $('Parse booking params').first().json.service }}",
            "Appointment Date": "={{ $('Parse booking params').first().json.requested_date }}",
            "Appointment Time": "={{ $('Parse booking params').first().json.requested_time }}",
            "Status": "confirmed",
            "Reminder Sent": "no",
            "Calendar Event ID": "={{ $json.id }}",
            "Call ID": "={{ $('Parse booking params').first().json.call_id }}",
            "Booked At": "={{ $('Parse booking params').first().json.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "ff29d3a6-ddfb-4bca-8b64-2b1385d74cc1",
      "name": "Save booking to Appointments sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [624, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.vapi.ai/call/{{ $('Parse booking params').first().json.call_id }}/function-call/result",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.VAPI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"result\": \"Appointment confirmed! {{ $('Parse booking params').first().json.name }} is booked for {{ $('Parse booking params').first().json.service }} on {{ $('Parse booking params').first().json.requested_date }} at {{ $('Parse booking params').first().json.requested_time }}. Calendar invite sent.\"\n}",
        "options": {}
      },
      "id": "654aecee-008e-46f2-a622-bf005408a17a",
      "name": "Return confirmation to VAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [848, 640]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📅 *New Appointment Booked*\n\n👤 {{ $('Parse booking params').first().json.name }}\n📱 {{ $('Parse booking params').first().json.phone }}\n🛠 Service: {{ $('Parse booking params').first().json.service }}\n📆 {{ $('Parse booking params').first().json.requested_date }} at {{ $('Parse booking params').first().json.requested_time }}\n✅ Calendar event created",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "1e28cd06-d506-4061-827c-1edaa5360e54",
      "name": "Telegram — booking confirmed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1072, 640],
      "webhookId": "93181a00-cfb6-4ac0-a88d-bf7a3a1c32c8"
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "*/5 * * * *" }] }
      },
      "id": "3d3f12a0-e27b-40c1-b9d0-cbf8b050008e",
      "name": "Every 5 min — check queue",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-256, 928]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.LEADS_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Outbound Queue" },
        "options": {}
      },
      "id": "7401e020-1c7f-4680-b9ae-6d26c8997c66",
      "name": "Read outbound queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-32, 928]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json['Status'] }}", "rightValue": "pending", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }
        },
        "options": {}
      },
      "id": "0b49b36c-7250-4379-8abb-081b56e1238c",
      "name": "Only pending calls",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [192, 928]
    },
    {
      "parameters": { "options": {} },
      "id": "d22405e7-ba96-4388-8d0b-27ee50c9ec69",
      "name": "Process one at a time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [416, 928]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\n\nconst callType = row['Call Type'] || 'cold_outreach';\nconst phone = row['Phone'] || '';\nconst name = row['Name'] || '';\n\nif (!phone) {\n  throw new Error(`Row missing phone number: ${JSON.stringify(row)}`);\n}\n\nlet context = '';\nif (callType === 'follow_up') {\n  context = `Last spoke on ${row['Last Contact'] || 'N/A'}. Interest: ${row['Interest Level'] || 'unknown'}. Previous need: ${row['Need'] || 'N/A'}.`;\n} else if (callType === 'reminder') {\n  context = `Appointment: ${row['Appointment Details'] || 'N/A'}.`;\n} else if (callType === 'cold_outreach') {\n  context = `Business type: ${row['Business Type'] || 'N/A'}. Source: ${row['Source'] || 'N/A'}.`;\n}\n\nreturn [{\n  json: {\n    phone: phone.startsWith('+') ? phone : `+1${phone.replace(/\\D/g, '')}`,\n    name: name,\n    call_type: callType,\n    context: context,\n    appointment_details: row['Appointment Details'] || '',\n    row_id: row['Row ID'] || '',\n    sheet_row: row\n  }\n}];"
      },
      "id": "9474b380-448a-4631-91f2-986f5eb10c4e",
      "name": "Build call payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 928]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call/phone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.VAPI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"{{ $env.VAPI_ASSISTANT_ID }}\",\n  \"phoneNumberId\": \"{{ $env.VAPI_PHONE_NUMBER_ID }}\",\n  \"customer\": {\n    \"number\": \"{{ $json.phone }}\",\n    \"name\": \"{{ $json.name }}\"\n  },\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"call_type\": \"{{ $json.call_type }}\",\n      \"caller_name\": \"{{ $json.name }}\",\n      \"caller_context\": \"{{ $json.context }}\",\n      \"appointment_details\": \"{{ $json.appointment_details }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "605b9f5d-a78e-4b52-b2c0-50fd2539fd40",
      "name": "Fire VAPI call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [848, 928]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.LEADS_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Outbound Queue" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "calling",
            "VAPI Call ID": "={{ $json.id }}",
            "Last Triggered": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "838216b2-97fa-493f-9b84-dd8844d12391",
      "name": "Mark as calling",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1072, 928]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📤 Outbound call fired\n\n👤 {{ $('Build call payload').first().json.name }}\n📱 {{ $('Build call payload').first().json.phone }}\n🎯 Type: {{ $('Build call payload').first().json.call_type }}\n🆔 VAPI ID: {{ $json.id }}",
        "additionalFields": {}
      },
      "id": "5d9cf145-d380-466f-9ce9-bdc35dfd8712",
      "name": "Telegram — call fired",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1296, 928],
      "webhookId": "50e01e09-715d-4f2b-b3ea-6ad87dfc6876"
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }] }
      },
      "id": "a30aff0b-2019-4370-8b7d-26f1a584fb05",
      "name": "Weekly Monday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-256, 1184]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.LEADS_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Learning Log" },
        "options": {}
      },
      "id": "a44d264d-baa7-4679-925e-5f00b8dd17d3",
      "name": "Read last 7 days of log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-32, 1184]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst sevenDaysAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\nconst recent = rows.filter(r => r.Timestamp && new Date(r.Timestamp) > sevenDaysAgo);\n\nif (recent.length < 3) {\n  return [{ json: { skip: true, reason: 'Less than 3 calls this week' } }];\n}\n\nconst avgScore = (recent.reduce((s, r) => s + Number(r['Overall Score'] || 5), 0) / recent.length).toFixed(1);\nconst worstMoments = recent\n  .filter(r => r['Worst Moment'] && r['Fix Suggestion'])\n  .map(r => `- Worst: \"${r['Worst Moment']}\" → Fix: ${r['Fix Suggestion']}`)\n  .join('\\n');\n\nconst byType = {};\nrecent.forEach(r => {\n  const t = r['Call Type'] || 'unknown';\n  if (!byType[t]) byType[t] = { total: 0, sum: 0 };\n  byType[t].total++;\n  byType[t].sum += Number(r['Overall Score'] || 5);\n});\nconst typeBreakdown = Object.entries(byType)\n  .map(([t, v]) => `${t}: ${(v.sum / v.total).toFixed(1)}/10 (${v.total} calls)`)\n  .join('\\n');\n\nreturn [{ json: { recent_count: recent.length, avg_score: avgScore, worst_moments: worstMoments, type_breakdown: typeBreakdown, skip: false } }];"
      },
      "id": "0411c755-63e0-484b-a9f6-efd24c614ccf",
      "name": "Compile weekly patterns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 1184]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
          ],
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }
        },
        "options": {}
      },
      "id": "613edf87-5337-402b-97cc-2f15c064fb28",
      "name": "Enough data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [416, 1184]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `You are a voice agent prompt engineer. Based on this week's call quality data, suggest exactly 3 prompt improvements.\\n\\nWeekly summary:\\n- Total calls: ${data.recent_count}\\n- Average score: ${data.avg_score}/10\\n- Score by scenario:\\n${data.type_breakdown}\\n\\nRecurring failure patterns:\\n${data.worst_moments}\\n\\nRespond ONLY in valid JSON:\\n{\\n  \"weekly_summary\": \"2-sentence summary of the week\",\\n  \"improvements\": [\\n    { \"issue\": \"what kept failing\", \"rule\": \"exact rule to add to system prompt\" },\\n    { \"issue\": \"what kept failing\", \"rule\": \"exact rule to add to system prompt\" },\\n    { \"issue\": \"what kept failing\", \"rule\": \"exact rule to add to system prompt\" }\\n  ]\\n}`;\n\nconst response = await fetch('https://api.groq.com/openai/v1/chat/completions', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${$env.GROQ_API_KEY}`\n  },\n  body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0.2,\n    max_tokens: 600,\n    messages: [{ role: 'user', content: prompt }]\n  })\n});\n\nconst res = await response.json();\nlet result = {};\ntry {\n  result = JSON.parse(res.choices[0].message.content.trim().replace(/```json|```/g, '').trim());\n} catch (e) {\n  result = { parse_error: true, improvements: [] };\n}\n\nreturn [{ json: { ...data, ...result } }];"
      },
      "id": "578f329e-281c-4b80-81ba-fcfd3792d482",
      "name": "Groq — generate improvements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 1184]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📊 *Weekly Voice Agent Report*\n\n{{ $json.weekly_summary }}\n\n📈 Avg score: {{ $json.avg_score }}/10 across {{ $json.recent_count }} calls\n\n*Score by scenario:*\n{{ $json.type_breakdown }}\n\n🔧 *Suggested prompt improvements:*\n\n1️⃣ Issue: {{ $json.improvements[0].issue }}\n   Fix: _{{ $json.improvements[0].rule }}_\n\n2️⃣ Issue: {{ $json.improvements[1].issue }}\n   Fix: _{{ $json.improvements[1].rule }}_\n\n3️⃣ Issue: {{ $json.improvements[2].issue }}\n   Fix: _{{ $json.improvements[2].rule }}_\n\nReview the Learning Log sheet and update the assistant's system prompt manually to apply a fix.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "9a9f61a8-35a5-44ed-9521-008b808805ea",
      "name": "Send weekly digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [864, 1184],
      "webhookId": "af7565cc-90fa-4d94-ab31-932cc259fefb"
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }] }
      },
      "id": "32ef8999-3437-4ef0-919a-6d38d5531481",
      "name": "Daily 9am trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-256, 1424]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.LEADS_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Appointments" },
        "options": {}
      },
      "id": "30c985e0-699b-44dc-836d-1afa02a3fe59",
      "name": "Read appointments sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-32, 1424]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst tomorrowStr = tomorrow.toISOString().split('T')[0];\n\nconst due = rows.filter(r => {\n  if (!r['Appointment Date'] || r['Reminder Sent'] === 'yes' || r['Status'] === 'cancelled') return false;\n  const apptDate = new Date(r['Appointment Date']).toISOString().split('T')[0];\n  return apptDate === tomorrowStr;\n});\n\nif (due.length === 0) return [];\nreturn due.map(r => ({ json: r }));"
      },
      "id": "020f8e5b-43d2-46c7-bb4d-1cae0f11c7e9",
      "name": "Filter tomorrow's appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 1424]
    },
    {
      "parameters": { "options": {} },
      "id": "39a23ae2-519b-4b7e-906d-9f2b615130e0",
      "name": "One at a time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [416, 1424]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call/phone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.VAPI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"{{ $env.VAPI_ASSISTANT_ID }}\",\n  \"phoneNumberId\": \"{{ $env.VAPI_PHONE_NUMBER_ID }}\",\n  \"customer\": {\n    \"number\": \"{{ $json['Phone'] }}\",\n    \"name\": \"{{ $json['Name'] }}\"\n  },\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"call_type\": \"reminder\",\n      \"caller_name\": \"{{ $json['Name'] }}\",\n      \"caller_context\": \"\",\n      \"appointment_details\": \"{{ $json['Service'] }} on {{ $json['Appointment Date'] }} at {{ $json['Appointment Time'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "e9a3bc06-bb9a-4294-8db3-e1579273a203",
      "name": "Fire reminder call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 1424]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.LEADS_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Appointments" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reminder Sent": "yes",
            "Reminder Call ID": "={{ $json.id }}",
            "Reminder Sent At": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "f8a5cdcd-e967-4c0b-8779-614c1485f34c",
      "name": "Mark reminder sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [864, 1424]
    }
  ],
  "connections": {
    "VAPI Webhook": {
      "main": [
        [
          { "node": "Respond to VAPI", "type": "main", "index": 0 },
          { "node": "Route by message type", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by message type": {
      "main": [
        [ { "node": "Parse call data", "type": "main", "index": 0 } ],
        [ { "node": "Parse booking params", "type": "main", "index": 0 } ]
      ]
    },
    "Parse call data": {
      "main": [[ { "node": "Groq — extract & grade", "type": "main", "index": 0 } ]]
    },
    "Groq — extract & grade": {
      "main": [[ { "node": "Save to Leads sheet", "type": "main", "index": 0 } ]]
    },
    "Save to Leads sheet": {
      "main": [[ { "node": "Append to Learning Log", "type": "main", "index": 0 } ]]
    },
    "Append to Learning Log": {
      "main": [[
        { "node": "Telegram notify", "type": "main", "index": 0 },
        { "node": "Score < 6?", "type": "main", "index": 0 }
      ]]
    },
    "Score < 6?": {
      "main": [[ { "node": "Alert — low score", "type": "main", "index": 0 } ]]
    },
    "Parse booking params": {
      "main": [[ { "node": "Create Google Calendar event", "type": "main", "index": 0 } ]]
    },
    "Create Google Calendar event": {
      "main": [[ { "node": "Save booking to Appointments sheet", "type": "main", "index": 0 } ]]
    },
    "Save booking to Appointments sheet": {
      "main": [[ { "node": "Return confirmation to VAPI", "type": "main", "index": 0 } ]]
    },
    "Return confirmation to VAPI": {
      "main": [[ { "node": "Telegram — booking confirmed", "type": "main", "index": 0 } ]]
    },
    "Every 5 min — check queue": {
      "main": [[ { "node": "Read outbound queue", "type": "main", "index": 0 } ]]
    },
    "Read outbound queue": {
      "main": [[ { "node": "Only pending calls", "type": "main", "index": 0 } ]]
    },
    "Only pending calls": {
      "main": [[ { "node": "Process one at a time", "type": "main", "index": 0 } ]]
    },
    "Process one at a time": {
      "main": [[ { "node": "Build call payload", "type": "main", "index": 0 } ]]
    },
    "Build call payload": {
      "main": [[ { "node": "Fire VAPI call", "type": "main", "index": 0 } ]]
    },
    "Fire VAPI call": {
      "main": [[ { "node": "Mark as calling", "type": "main", "index": 0 } ]]
    },
    "Mark as calling": {
      "main": [[ { "node": "Telegram — call fired", "type": "main", "index": 0 } ]]
    },
    "Weekly Monday 9am": {
      "main": [[ { "node": "Read last 7 days of log", "type": "main", "index": 0 } ]]
    },
    "Read last 7 days of log": {
      "main": [[ { "node": "Compile weekly patterns", "type": "main", "index": 0 } ]]
    },
    "Compile weekly patterns": {
      "main": [[ { "node": "Enough data?", "type": "main", "index": 0 } ]]
    },
    "Enough data?": {
      "main": [[ { "node": "Groq — generate improvements", "type": "main", "index": 0 } ]]
    },
    "Groq — generate improvements": {
      "main": [[ { "node": "Send weekly digest", "type": "main", "index": 0 } ]]
    },
    "Daily 9am trigger": {
      "main": [[ { "node": "Read appointments sheet", "type": "main", "index": 0 } ]]
    },
    "Read appointments sheet": {
      "main": [[ { "node": "Filter tomorrow's appointments", "type": "main", "index": 0 } ]]
    },
    "Filter tomorrow's appointments": {
      "main": [[ { "node": "One at a time", "type": "main", "index": 0 } ]]
    },
    "One at a time": {
      "main": [[ { "node": "Fire reminder call", "type": "main", "index": 0 } ]]
    },
    "Fire reminder call": {
      "main": [[ { "node": "Mark reminder sent", "type": "main", "index": 0 } ]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "6ceb7661ab9a41645da47d42a6c39bcf9b6a70656394739af04e582d8c505cce"
  }
}
